h1.encabezado {
    text-align: center;
}
input {
    display: block;
}

body {
    background-color: aliceblue;
}
div.bloqueintroducir {
    border-radius: 10px;
    background-color: coral;
    margin-bottom: 3%;
    padding: 2%;
}

div.bloquealeatorio {
    border-radius: 10px;
    background-color: aquamarine;
    padding: 2%;
}

button.introducir {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 100px;
    height: 50px;
    
}

button.aleatorio {
    position: absolute;
    top: 33%;
    left: 5%;
    width: 10%;
}